{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>
{%- include "partials/statements.html" -%}
{%- if page.extra.toc and not page.extra.toc_sidebar -%}
{%- include "partials/toc.html" -%}
{%- endif -%}
{{ page.content | safe }}

{%- if page.extra.comments is undefined or page.extra.comments != false -%}
<section id="giscus-comments">
	<h2>Comments</h2>
	<script
		src="https://giscus.app/client.js"
		data-repo="nickscip/myblog"
		data-repo-id="R_kgDOQ4mrnQ"
		data-category="Announcements"
		data-category-id="DIC_kwDOQ4mrnc4C4CbM"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="preferred_color_scheme"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
	</script>
</section>
{%- endif -%}

{%- if page.extra.bluesky_post_uri -%}
<section id="bluesky-comments">
	<h2>Comments</h2>
	<p>Reply on <a href="https://bsky.app/profile/{{ page.extra.bluesky_post_uri | split(pat='/') | nth(n=2) }}/post/{{ page.extra.bluesky_post_uri | split(pat='/') | last }}" class="external">Bluesky</a> to join the conversation.</p>
	<div id="bluesky-comments-list">
		<button id="load-bluesky-comments" class="colored">Load Comments</button>
		<noscript><p>Loading comments requires JavaScript.</p></noscript>
	</div>
</section>
<script defer src="/bluesky-comments.js" data-post-uri="{{ page.extra.bluesky_post_uri }}"></script>
{%- endif -%}
{% endblock content %}
